$colorBlue: #3756e4;
$colorGray: #f0f0f3;
$colorSalmon: #f16f6f;
$colorWhite: #ffffff;
$colorLightBlue: #3dfff3;

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin sm-title {
  font-size: 0.8rem;
  font-weight: 700;
  letter-spacing: 1px;
  color: #bebebe;
  margin-left: 4.5rem;
}

@mixin hr($w, $color) {
  width: $w;
  background-color: $color;
  height: 1px;
  border: none;
}

@mixin whiteBgBoard($h) {
  width: 100%;
  height: $h;
  border-radius: 30px;
  background-color: #fff;
}

@mixin titleBlackBg {
  font-size: 0.9rem;
  letter-spacing: 1.5px;
  display: inline;
  margin-left: 3rem;
  background-color: rgba(0, 0, 0, 1);
  border: solid 0.5px white;
  color: $colorWhite;
  border-radius: 20px;
  padding: 6px 25px;
  z-index: 100;
  position: relative;
}

@mixin titleGrayBg {
  font-size: 0.9rem;
  letter-spacing: 1.5px;
  display: inline;
  margin-left: 3rem;
  background-color: #e5e5e5;
  border: solid 0.5px white;
  color: rgba(0, 0, 0, 0.7);
  border-radius: 20px;
  padding: 6px 25px;
  z-index: 100;
  position: relative;
}

@mixin titleWhiteBg($color: $colorBlue) {
  display: inline;
  font-size: 0.9rem;
  font-weight: 700;
  letter-spacing: 1.5px;
  display: inline;
  background-color: rgba(0, 0, 0, 0.2);
  border: solid 0.5px white;
  color: $color;
  border-radius: 20px;
  padding: 6px 40px 6px 50px;
  margin-left: -30px;
  z-index: -1;
}

@keyframes scrollDown {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-20px, -20px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(20px, 20px);
  }
}

@keyframes showTxt {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }
  50% {
    transform: translateY(20px);
    opacity: 1;
  }
  100% {
    transform: translateY(40px);
    opacity: 0;
  }
}

@keyframes scalePic {
  0% {
  }
  50% {
    transform: skew(-10deg, 5deg);
    transform: scaleY(1.1);
  }
  100% {
  }
}

* {
  // border: solid 1px black;
  font-family: "Noto Sans TC", sans-serif;
  scroll-behavior: smooth;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: initial;
}
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: $colorBlue;
}

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  margin-top: 0 !important;
  height: 60px;
  transition: 0.5s;
  &.nav {
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1000;
    ul li a {
      color: #fff !important;
      &:hover {
        padding: 0 5px;
        background-color: $colorSalmon !important;
      }
    }
    hr {
      background-color: #fff;
    }
  }
}

.sticky + .main {
  padding-top: 10px;
}

.container {
  width: 100%;
  height: 100%;
  margin: 0;
  .landing-bg {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -3rem;
    .landing-page {
      background-color: $colorGray;
      margin: auto;
      width: 80%;
      height: 540px;
      border-radius: 30px;
      display: flex;
      flex-direction: column;
      .nav {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
        .navLine {
          margin-top: 20px;
          background-color: $colorBlue;
          height: 1px;
          border: none;
        }
        ul {
          display: flex;
          list-style: none;
          flex-direction: row;
          justify-content: flex-end;
          margin: 10px 80px 0 0;
        }
        li {
          letter-spacing: 3px;
          margin: 0 8px;
          padding: 0 10px;
          font-size: 15px;
          font-weight: 700;
        }
        a {
          color: $colorBlue;
          margin-right: 20px;
        }
        a:hover {
          color: $colorSalmon;
          background: rgba(255, 255, 255, 0.9);
          transition: 0.2s;
        }
      }
      .main {
        width: 80%;
        display: flex;
        position: relative;
        .title-name {
          width: 50%;
          transform: translate(0, 50px);
          margin-left: 130px;
          font-size: 3rem;
          font-weight: 100;
          letter-spacing: 3px;
          line-height: 1.8;
          .content {
            display: block;
            font-size: 14px;
            margin-top: 2rem;
            letter-spacing: 2px;
            color: $colorBlue;
            font-weight: 700;
          }
        }

        .photo {
          position: relative;
          .imgOne {
            img {
              position: absolute;
              width: 340px;
              transform: translate(15rem, 4rem);
            }
          }
          .imgTwo {
            img {
              position: absolute;
              width: 440px;
              // transform: translate(-2rem, 12rem);
              top: 9rem;
              left: -25px;
              transition: 0.5s;
              animation: scalePic 2s infinite;
            }
          }
        }
      }
    }
    .arrow {
      // top: 50px;
      transform: translate(-50%, -50%);
      p {
        color: #fff;
        font-weight: 700;
        letter-spacing: 2px;
        animation: showTxt 2s infinite;
        margin-left: -8px;
      }
    }
    .arrow span {
      display: block;
      width: 15px;
      height: 15px;
      border-bottom: 4px solid #fff;
      border-right: 4px solid #fff;
      transform: rotate(45deg);
      margin: 10px;
      animation: scrollDown 2s infinite;
    }
    .arrow span:nth-child(2) {
      animation-delay: -0.2s;
    }
  }
  .main-bg {
    margin-top: 10rem;
    display: flex;
    justify-content: center;
    .main-page {
      padding-top: 1.5rem;
      width: 80%;
      height: 100%;
      display: flex;
      flex-wrap: wrap;
      .motivation {
        border: 1px #fff solid;
        padding: 2rem 1rem;
        @include whiteBgBoard(25vh);
        .sm-title {
          @include sm-title();
        }
        .main-title {
          @include titleBlackBg();
        }
        .sub-title {
          @include titleWhiteBg();
        }
        .mo-line {
          position: absolute;
          @include hr(780px, $colorBlue);
          margin-left: 35rem;
          margin-top: -10px;
          z-index: 200;
        }
        .mo-txt {
          display: flex;
          justify-content: center;
          margin-top: 80px;
          color: #000;
          font-weight: 700;
          letter-spacing: 1px;
          ol {
            display: inline;
            padding: 0px;
            margin: 0 30px 0 30px;
            li {
              display: inline;
              padding: 18px 20px;
              margin: 0 10px;
              border-radius: 10px;
              background-color: $colorSalmon;
              font-weight: 400;
            }
            li:hover {
              font-weight: 700;
              color: white;
              background-color: #ff7777;
              box-shadow: 4px 4px 10px 1px rgba(0, 0, 0, 0.2);
              transition: 0.5s;
            }
          }
        }
      }
      .before {
        margin-top: 3rem;
        padding: 2rem 1rem;
        @include whiteBgBoard(800px);
        position: relative;
        .sm-title {
          @include sm-title();
        }
        .main-title {
          @include titleBlackBg();
        }
        .sub-title {
          @include titleWhiteBg();
        }
        .beforeLine {
          @include hr(530px, $colorBlue);
          position: absolute;
          margin-left: 51rem;
          margin-top: -10px;
          z-index: 200;
        }
        .beforeBgimg {
          height: 100%;
          display: flex;
          justify-content: space-evenly;
          margin-top: 3rem;
          .oddAppImg1,
          .oddAppImg2,
          .oddAppImg3,
          .oddAppImg4 {
            height: 80%;
            z-index: 100;
          }
        }
        .oddAppImg1:hover,
        .oddAppImg2:hover,
        .oddAppImg3:hover,
        .oddAppImg4:hover {
          transition-duration: 1s;
          transform: scale(1.2);
        }
      }
      .ux-research {
        margin-top: 5rem;
        width: 100%;
        .persona {
          .sm-title {
            @include sm-title();
          }
          .per-title1 {
            @include titleGrayBg();
          }
          .per-title2 {
            @include titleWhiteBg($colorWhite);
          }
          .perLine {
            @include hr(700px, $colorWhite);
            position: absolute;
            margin-left: 41rem;
            margin-top: -10px;
            z-index: 200;
          }
          .uxtxt {
            margin-left: 18rem;
            margin-top: 1.8rem;
            line-height: 2rem;
            color: $colorWhite;
            letter-spacing: 1px;
          }
          .ux-img {
            display: flex;
            flex-direction: column;
            align-items: center;
            .ux-img-one {
              margin-top: 2rem;
              width: 80%;
            }
            .ux-img-two {
              width: 75%;
            }
          }
        }
        .journey-map {
          margin-top: 3rem;
          .sm-title {
            @include sm-title();
          }
          .jour-title1 {
            @include titleGrayBg();
          }
          .jour-title2 {
            @include titleWhiteBg($colorWhite);
          }
          .jourLine {
            @include hr(100px, $colorWhite);
            position: absolute;
            margin-left: 48rem;
            margin-top: -10px;
            z-index: 200;
          }
          .jour-txt-one,
          .jour-txt-two {
            display: flex;
            align-items: center;
            flex-direction: column;
            margin-top: 80px;
            color: $colorWhite;
            letter-spacing: 1px;
            ul {
              display: flex;
              flex-wrap: wrap;
              text-decoration: none;
              li {
                display: inline;
                background-color: $colorLightBlue;
                color: $colorBlue;
                margin: 0.5rem;
                font-weight: bold;
                padding: 0.5rem;
                border-radius: 5px;
              }
            }
          }
        }
      }
    }
  }
  .footer {
    margin-top: 3rem;
    background-color: rgba(0, 0, 0, 0.8);
    padding-bottom: 3rem;
    display: flex;
    flex-direction: column;
    p {
      margin: 0 auto;
      padding: 3rem 0;
      color: #fff;
      font-weight: bold;
      position: relative;
      &::after {
        content: "";
        height: 1px;
        width: 100%;
        background: #3dfff3;
        position: absolute;
        bottom: 30%;
        left: 0;
      }
    }
    ul {
      margin: 2rem 0;
      padding: 0;
      list-style: none;
      display: flex;
      justify-content: center;
      li {
        margin:0 1rem;
        a {
          color: #fff;
        }
      }
    }
  }
}
@media (max-width: 575.98px) {
}

@media (max-width: 767.98px) {
  html,
  body {
    width: 100%;
  }
  .container {
    width: 100%;
    .landing-bg {
      width: 100%;
      display: block;
      margin: 1rem auto;
      position: relative;
      .landing-page {
        width: 90%;
        height: 70%;
        .nav {
          display: none;
        }
        .main {
          width: 100%;
          height: 100%;
          flex-direction: column;
          .title-name {
            margin-left: 20px;
            line-height: 1.5;
            width: 90%;
          }
          .photo {
            .imgOne {
              img {
                transform: translate(10rem, 4rem);
                width: 200px;
              }
            }
            .imgTwo {
              img {
                left: 20px;
                top: 10rem;
                width: 280px;
              }
            }
          }
        }
      }
      .arrow {
        position: absolute;
        height: 50px;
        bottom: 10px;
        top: 83%;
        left: 46%;
        transform: none;
      }
    }
    .main-bg {
      margin-top: 0;
      .main-page {
        .motivation {
          @include whiteBgBoard(58vh);
          display: flex;
          flex-direction: column;
          .sm-title {
            display: block;
            margin-bottom: 0.5rem;
          }
          .main-title {
            margin: 0 auto;
          }
          .sub-title {
            z-index: 1;
            margin: 0 auto;
            background-color: #fff;
          }
          .mo-txt {
            flex-direction: column;
            margin-top: 2rem;
            ol {
              margin: 0;
              padding-top: 1rem;
              li {
                display: block;
                margin: 10px 10px;
              }
            }
          }
        }
        .before {
          @include whiteBgBoard(100vh);
          display: flex;
          flex-direction: column;
          .sm-title {
            display: block;
            margin-bottom: 0.5rem;
          }
          .main-title {
            margin: 0 auto;
          }
          .sub-title {
            z-index: 1;
            margin: 0 auto;
            background-color: rgba(255, 255, 255, 0.1);
            letter-spacing: 0.5px;
          }
          .beforeBgimg {
            display: block;
            .oddAppImg1,
            .oddAppImg2,
            .oddAppImg3,
            .oddAppImg4 {
              height: 37%;
              object-fit: contain;
              &:hover {
                transition-duration: 0.5s;
                transform: scale(1.5);
              }
            }
          }
        }
        .ux-research {
          .persona {
            display: flex;
            flex-direction: column;
            .sm-title {
              display: block;
              margin-bottom: 0.5rem;
            }
            .per-title1 {
              margin: 0 auto;
            }
            .per-title2 {
              margin: 0.5rem auto;
              background-color: rgba(255, 255, 255, 0.1);
              letter-spacing: 0.5px;
            }
            .uxtxt {
              margin: 1rem 0;
            }
            .ux-img {
              .ux-img-one {
                width: 120%;
                &:hover {
                  transition-duration: 0.5s;
                  transform: scale(1.5);
                  z-index: 1;
                }
              }
              .ux-img-two {
                width: 110%;
                &:hover {
                  transition-duration: 0.5s;
                  transform: scale(1.5);
                  z-index: 1;
                }
              }
            }
          }
        }
        .journey-map {
          display: flex;
          flex-direction: column;
          .sm-title {
            display: block;
            margin-bottom: 0.5rem;
          }
          .jour-title1 {
            margin: 0 auto !important;
          }
          .jour-title2 {
            background-color: rgba(255, 255, 255, 0.1) !important;
            margin-top: 1rem !important;
            color: #fff !important;
          }
          .jour-txt-one,
          .jour-txt-two {
            margin: 1rem 0 !important;
            ul {
              padding: 0;
            }
            ul li {
              background-color: rgba(0, 0, 0, 0.2);
              padding: 5px;
              border-radius: 5px;
              line-height: 1;
            }
          }
        }
      }
    }
    .footer {
      margin-top: 3rem;
      background-color: rgba(0, 0, 0, 0.8);
      padding-bottom: 3rem;
      display: flex;
      flex-direction: column;
      ul {
        margin: 2rem 0;
        padding: 0;
        justify-content: space-evenly;
      }
    }
  }
}
