@-webkit-keyframes scrollDown {
  0% {
    opacity: 0;
    -webkit-transform: rotate(45deg) translate(-20px, -20px);
            transform: rotate(45deg) translate(-20px, -20px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: rotate(45deg) translate(20px, 20px);
            transform: rotate(45deg) translate(20px, 20px);
  }
}

@keyframes scrollDown {
  0% {
    opacity: 0;
    -webkit-transform: rotate(45deg) translate(-20px, -20px);
            transform: rotate(45deg) translate(-20px, -20px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: rotate(45deg) translate(20px, 20px);
            transform: rotate(45deg) translate(20px, 20px);
  }
}

@-webkit-keyframes showTxt {
  0% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    opacity: 0;
  }
  50% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(40px);
            transform: translateY(40px);
    opacity: 0;
  }
}

@keyframes showTxt {
  0% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    opacity: 0;
  }
  50% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(40px);
            transform: translateY(40px);
    opacity: 0;
  }
}

* {
  font-family: "Noto Sans TC", sans-serif;
  scroll-behavior: smooth;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: initial;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #3756e4;
}

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  margin-top: 0 !important;
  height: 100px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.sticky.nav {
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1000;
}

.sticky.nav ul li a {
  color: #fff !important;
}

.sticky.nav ul li a:hover {
  padding: 0 5px;
  background-color: #f16f6f !important;
}

.sticky.nav hr {
  background-color: #fff;
}

.sticky + .main {
  padding-top: 10px;
}

.container {
  width: 100%;
  height: 100%;
  margin: 0;
}

.container .landing-bg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-top: -3rem;
}

.container .landing-bg .landing-page {
  background-color: #f0f0f3;
  margin: auto;
  width: 80%;
  height: 540px;
  border-radius: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container .landing-bg .landing-page .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
}

.container .landing-bg .landing-page .nav .navLine {
  margin-top: 20px;
  background-color: #3756e4;
  height: 1px;
  border: none;
}

.container .landing-bg .landing-page .nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 10px 80px 0 0;
}

.container .landing-bg .landing-page .nav li {
  letter-spacing: 3px;
  margin: 0 8px;
  padding: 0 10px;
  font-size: 15px;
  font-weight: 700;
}

.container .landing-bg .landing-page .nav a {
  color: #3756e4;
  margin-right: 20px;
}

.container .landing-bg .landing-page .nav a:hover {
  color: #f16f6f;
  background: rgba(255, 255, 255, 0.9);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.container .landing-bg .landing-page .main {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.container .landing-bg .landing-page .main .title-name {
  position: absolute;
  width: 50%;
  top: 50px;
  margin-left: 130px;
  font-size: 3rem;
  font-weight: 100;
  letter-spacing: 3px;
  line-height: 1.8;
  position: relative;
}

.container .landing-bg .landing-page .main .title-name .content {
  display: block;
  font-size: 14px;
  margin-top: 2rem;
  letter-spacing: 2px;
  color: #3756e4;
  font-weight: 700;
}

.container .landing-bg .landing-page .main .photo {
  position: relative;
}

.container .landing-bg .landing-page .main .photo .imgOne img {
  position: absolute;
  width: 340px;
  top: 6rem;
  left: 15rem;
}

.container .landing-bg .landing-page .main .photo .imgTwo img {
  position: absolute;
  width: 440px;
  top: 9rem;
  left: -25px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.container .landing-bg .landing-page .main .photo .imgTwo:hover img {
  -webkit-transform: skew(-10deg, 5deg);
          transform: skew(-10deg, 5deg);
  -webkit-transform: scaleY(1.1);
          transform: scaleY(1.1);
}

.container .landing-bg .arrow {
  top: 50px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.container .landing-bg .arrow p {
  color: #fff;
  font-weight: 700;
  letter-spacing: 2px;
  -webkit-animation: showTxt 2s infinite;
          animation: showTxt 2s infinite;
  margin-left: -8px;
}

.container .landing-bg .arrow span {
  display: block;
  width: 15px;
  height: 15px;
  border-bottom: 4px solid #fff;
  border-right: 4px solid #fff;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  margin: 10px;
  -webkit-animation: scrollDown 2s infinite;
          animation: scrollDown 2s infinite;
}

.container .landing-bg .arrow span:nth-child(2) {
  -webkit-animation-delay: -0.2s;
          animation-delay: -0.2s;
}

.container .main-bg {
  margin-top: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .main-bg .main-page {
  padding-top: 1.5rem;
  width: 80%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.container .main-bg .main-page .motivation {
  border: 1px #fff solid;
  padding: 2rem 1rem;
  width: 100%;
  height: 25vh;
  border-radius: 30px;
  background-color: #fff;
}

.container .main-bg .main-page .motivation .sm-title {
  font-size: 0.8rem;
  font-weight: 700;
  letter-spacing: 1px;
  color: #bebebe;
  margin-left: 4.5rem;
}

.container .main-bg .main-page .motivation .main-title {
  font-size: 0.9rem;
  letter-spacing: 1.5px;
  display: inline;
  margin-left: 3rem;
  background-color: black;
  border: solid 0.5px white;
  color: #ffffff;
  border-radius: 20px;
  padding: 6px 25px;
  z-index: 100;
  position: relative;
}

.container .main-bg .main-page .motivation .sub-title {
  display: inline;
  font-size: 0.9rem;
  font-weight: 700;
  letter-spacing: 1.5px;
  display: inline;
  background-color: rgba(0, 0, 0, 0.2);
  border: solid 0.5px white;
  color: #3756e4;
  border-radius: 20px;
  padding: 6px 40px 6px 50px;
  margin-left: -30px;
  z-index: -1;
}

.container .main-bg .main-page .motivation .mo-line {
  position: absolute;
  width: 780px;
  background-color: #3756e4;
  height: 1px;
  border: none;
  margin-left: 35rem;
  margin-top: -10px;
  z-index: 200;
}

.container .main-bg .main-page .motivation .mo-txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 80px;
  color: #000;
  font-weight: 700;
  letter-spacing: 1px;
}

.container .main-bg .main-page .motivation .mo-txt ol {
  display: inline;
  padding: 0px;
  margin: 0 30px 0 30px;
}

.container .main-bg .main-page .motivation .mo-txt ol li {
  display: inline;
  padding: 18px 20px;
  margin: 0 10px;
  border-radius: 10px;
  background-color: #f16f6f;
  font-weight: 400;
}

.container .main-bg .main-page .motivation .mo-txt ol li:hover {
  font-weight: 700;
  color: white;
  background-color: #ff7777;
  -webkit-box-shadow: 4px 4px 10px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 4px 4px 10px 1px rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.container .main-bg .main-page .before {
  margin-top: 3rem;
  padding: 2rem 1rem;
  width: 100%;
  height: 830px;
  border-radius: 30px;
  background-color: #fff;
  position: relative;
}

.container .main-bg .main-page .before .sm-title {
  font-size: 0.8rem;
  font-weight: 700;
  letter-spacing: 1px;
  color: #bebebe;
  margin-left: 4.5rem;
}

.container .main-bg .main-page .before .main-title {
  font-size: 0.9rem;
  letter-spacing: 1.5px;
  display: inline;
  margin-left: 3rem;
  background-color: black;
  border: solid 0.5px white;
  color: #ffffff;
  border-radius: 20px;
  padding: 6px 25px;
  z-index: 100;
  position: relative;
}

.container .main-bg .main-page .before .sub-title {
  display: inline;
  font-size: 0.9rem;
  font-weight: 700;
  letter-spacing: 1.5px;
  display: inline;
  background-color: rgba(0, 0, 0, 0.2);
  border: solid 0.5px white;
  color: #3756e4;
  border-radius: 20px;
  padding: 6px 40px 6px 50px;
  margin-left: -30px;
  z-index: -1;
}

.container .main-bg .main-page .before .beforeLine {
  width: 530px;
  background-color: #3756e4;
  height: 1px;
  border: none;
  position: absolute;
  margin-left: 51rem;
  margin-top: -10px;
  z-index: 200;
}

.container .main-bg .main-page .before .beforeBgimg {
  height: 100%;
}

.container .main-bg .main-page .before .beforeBgimg .folderImg {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 90%;
  margin: 40px auto;
}

.container .main-bg .main-page .before .beforeBgimg .oddAppImg {
  position: absolute;
  left: 50%;
  width: 80%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  margin: 8rem auto;
}

.container .main-bg .main-page .ux-research {
  margin-top: 5rem;
  width: 100%;
}

.container .main-bg .main-page .ux-research .persona .sm-title {
  font-size: 0.8rem;
  font-weight: 700;
  letter-spacing: 1px;
  color: #bebebe;
  margin-left: 4.5rem;
}

.container .main-bg .main-page .ux-research .persona .perTitle1 {
  font-size: 0.9rem;
  letter-spacing: 1.5px;
  display: inline;
  margin-left: 3rem;
  background-color: #e5e5e5;
  border: solid 0.5px white;
  color: rgba(0, 0, 0, 0.7);
  border-radius: 20px;
  padding: 6px 25px;
  z-index: 100;
  position: relative;
}

.container .main-bg .main-page .ux-research .persona .perTitle2 {
  display: inline;
  font-size: 0.9rem;
  font-weight: 700;
  letter-spacing: 1.5px;
  display: inline;
  background-color: rgba(0, 0, 0, 0.2);
  border: solid 0.5px white;
  color: #3756e4;
  border-radius: 20px;
  padding: 6px 40px 6px 50px;
  margin-left: -30px;
  z-index: -1;
}

.container .main-bg .main-page .ux-research .persona .perLine {
  width: 700px;
  background-color: #ffffff;
  height: 1px;
  border: none;
  position: absolute;
  margin-left: 41rem;
  margin-top: -10px;
  z-index: 200;
}

.container .main-bg .main-page .ux-research .persona .uxtxt {
  margin-left: 18rem;
  margin-top: 1.8rem;
  line-height: 2rem;
  color: #ffffff;
  letter-spacing: 1px;
}

.container .main-bg .main-page .ux-research .persona .uxImg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .main-bg .main-page .ux-research .persona .uxImg .uxImgOne {
  width: 90%;
}

.container .main-bg .main-page .ux-research .persona .uxImg .uxImgTwo {
  width: 86%;
}

.container .main-bg .main-page .ux-research .journey-map {
  margin-top: 3rem;
}

.container .main-bg .main-page .ux-research .journey-map .sm-title {
  font-size: 0.8rem;
  font-weight: 700;
  letter-spacing: 1px;
  color: #bebebe;
  margin-left: 4.5rem;
}

.container .main-bg .main-page .ux-research .journey-map .jourTitle1 {
  font-size: 0.9rem;
  letter-spacing: 1.5px;
  display: inline;
  margin-left: 3rem;
  background-color: #e5e5e5;
  border: solid 0.5px white;
  color: rgba(0, 0, 0, 0.7);
  border-radius: 20px;
  padding: 6px 25px;
  z-index: 100;
  position: relative;
}

.container .main-bg .main-page .ux-research .journey-map .jourTitle2 {
  display: inline;
  font-size: 0.9rem;
  font-weight: 700;
  letter-spacing: 1.5px;
  display: inline;
  background-color: rgba(0, 0, 0, 0.2);
  border: solid 0.5px white;
  color: #3756e4;
  border-radius: 20px;
  padding: 6px 40px 6px 50px;
  margin-left: -30px;
  z-index: -1;
}

.container .main-bg .main-page .ux-research .journey-map .jourLine {
  width: 100px;
  background-color: #ffffff;
  height: 1px;
  border: none;
  position: absolute;
  margin-left: 48rem;
  margin-top: -10px;
  z-index: 200;
}

.container .main-bg .main-page .ux-research .journey-map .jourtxtOne {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 80px;
  margin-left: 18rem;
  color: #ffffff;
  letter-spacing: 1px;
}

.container .main-bg .main-page .ux-research .journey-map .jourtxtOne ul {
  display: inline;
  text-decoration: none;
}

.container .main-bg .main-page .ux-research .journey-map .jourtxtOne ul li {
  display: inline;
}

.container .main-bg .main-page .ux-research .journey-map .jourtxtTwo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 80px;
  margin-left: 18rem;
  color: #ffffff;
  letter-spacing: 1px;
}

.container .main-bg .main-page .ux-research .journey-map .jourtxtTwo ul {
  display: inline;
  text-decoration: none;
}

.container .main-bg .main-page .ux-research .journey-map .jourtxtTwo ul li {
  display: inline;
}
/*# sourceMappingURL=style.css.map */