$colorBlue: #3756e4;
$colorGray: #f0f0f3;
$colorSalmon: #f16f6f;
$colorWhite: #ffffff;
$colorLightBlue: #3dfff3;

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin sm-title {
  font-size: 0.8rem;
  font-weight: 700;
  letter-spacing: 1px;
  color: #bebebe;
  margin-left: 4.5rem;
}

@mixin hr($w, $color) {
  width: $w;
  background-color: $color;
  height: 1px;
  border: none;
}

@mixin whiteBgBoard($h) {
  width: 100%;
  height: $h;
  border-radius: 30px;
  background-color: #fff;
}

@mixin titleBlackBg {
  font-size: 0.9rem;
  letter-spacing: 1.5px;
  display: inline;
  margin-left: 3rem;
  background-color: rgba(0, 0, 0, 1);
  border: solid 0.5px white;
  color: $colorWhite;
  border-radius: 20px;
  padding: 6px 25px;
  z-index: 100;
  position: relative;
}

@mixin titleGrayBg {
  font-size: 0.9rem;
  letter-spacing: 1.5px;
  display: inline;
  margin-left: 3rem;
  background-color: #e5e5e5;
  border: solid 0.5px white;
  color: rgba(0, 0, 0, 0.7);
  border-radius: 20px;
  padding: 6px 25px;
  z-index: 100;
  position: relative;
}

@mixin titleWhiteBg {
  display: inline;
  font-size: 0.9rem;
  font-weight: 700;
  letter-spacing: 1.5px;
  display: inline;
  background-color: rgba(0, 0, 0, 0.2);
  border: solid 0.5px white;
  color: $colorBlue;
  border-radius: 20px;
  padding: 6px 40px 6px 50px;
  margin-left: -30px;
  z-index: -1;
}

@keyframes scrollDown {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-20px, -20px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(20px, 20px);
  }
}

@keyframes showTxt {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }
  50% {
    transform: translateY(20px);
    opacity: 1;
  }
  100% {
    transform: translateY(40px);
    opacity: 0;
  }
}

* {
  // border: solid 1px black;
  font-family: "Noto Sans TC", sans-serif;
  scroll-behavior: smooth;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: initial;
}
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: $colorBlue;
}

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  margin-top: 0 !important;
  height: 100px;
  transition: 0.5s;
  &.nav {
    background-color: rgba(0, 0, 0,0.8);
    z-index:1000;
    ul li a {
      color: #fff !important;
      &:hover {
        padding: 0 5px;
        background-color: $colorSalmon !important;
      }
    }
    hr {
      background-color: #fff;
    }
  }
}

.sticky + .main {
  padding-top: 10px;
}

.container {
  width: 100%;
  height: 100%;
  margin: 0;
  .landing-bg {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: -3rem;
    .landing-page {
      background-color: $colorGray;
      margin: auto;
      width: 80%;
      height: 540px;
      border-radius: 30px;
      display: flex;
      flex-direction: column;
      .nav {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
        .navLine {
          margin-top: 20px;
          background-color: $colorBlue;
          height: 1px;
          border: none;
        }
        ul {
          display: flex;
          list-style: none;
          flex-direction: row;
          justify-content: flex-end;
          margin: 10px 80px 0 0;
        }
        li {
          letter-spacing: 3px;
          margin: 0 8px;
          padding: 0 10px;
          font-size: 15px;
          font-weight: 700;
        }
        a {
          color: $colorBlue;
          margin-right: 20px;
        }
        a:hover {
          color: $colorSalmon;
          background: rgba(255, 255, 255, 0.9);
          transition: 0.2s;
        }
      }
      .main {
        width: 80%;
        display: flex;
        position: relative;
        .title-name {
          position: absolute;
          width: 50%;
          top: 50px;
          margin-left: 130px;
          font-size: 3rem;
          font-weight: 100;
          letter-spacing: 3px;
          line-height: 1.8;
          position: relative;
          .content {
            display: block;
            font-size: 14px;
            margin-top: 2rem;
            letter-spacing: 2px;
            color: $colorBlue;
            font-weight: 700;
          }
        }

        .photo {
          position: relative;
          .imgOne {
            img {
              position: absolute;
              width: 340px;
              top: 6rem;
              left: 15rem;
            }
          }
          .imgTwo {
            img {
              position: absolute;
              width: 440px;
              top: 9rem;
              left: -25px;
              transition: 0.5s;
            }
          }
          .imgTwo:hover {
            img {
              transform: skew(-10deg, 5deg);
              transform: scaleY(1.1);
            }
          }
        }
      }
    }
    .arrow {
      top: 50px;
      transform: translate(-50%, -50%);
      p {
        color: #fff;
        font-weight: 700;
        letter-spacing: 2px;
        animation: showTxt 2s infinite;
        margin-left: -8px;
      }
    }
    .arrow span {
      display: block;
      width: 15px;
      height: 15px;
      border-bottom: 4px solid #fff;
      border-right: 4px solid #fff;
      transform: rotate(45deg);
      margin: 10px;
      animation: scrollDown 2s infinite;
    }
    .arrow span:nth-child(2) {
      animation-delay: -0.2s;
    }
  }
  .main-bg {
    margin-top: 10rem;
    display: flex;
    justify-content: center;
    .main-page {
      padding-top: 1.5rem;
      width: 80%;
      height: 100%;
      display: flex;
      flex-wrap: wrap;
      .motivation {
        border: 1px #fff solid;
        padding: 2rem 1rem;
        @include whiteBgBoard(25vh);
        .sm-title {
          @include sm-title();
        }
        .main-title {
          @include titleBlackBg();
        }
        .sub-title {
          @include titleWhiteBg();
        }
        .mo-line {
          position: absolute;
          @include hr(780px, $colorBlue);
          margin-left: 35rem;
          margin-top: -10px;
          z-index: 200;
        }
        .mo-txt {
          display: flex;
          justify-content: center;
          margin-top: 80px;
          color: #000;
          font-weight: 700;
          letter-spacing: 1px;
          ol {
            display: inline;
            padding: 0px;
            margin: 0 30px 0 30px;
            li {
              display: inline;
              padding: 18px 20px;
              margin: 0 10px;
              border-radius: 10px;
              background-color: $colorSalmon;
              font-weight: 400;
            }
            li:hover {
              font-weight: 700;
              color: white;
              background-color: #ff7777;
              box-shadow: 4px 4px 10px 1px rgba(0, 0, 0, 0.2);
              transition: 0.5s;
            }
          }
        }
      }
      .before {
        margin-top: 3rem;
        padding: 2rem 1rem;
        @include whiteBgBoard(830px);
        position: relative;
        .sm-title {
          @include sm-title();
        }
        .main-title {
          @include titleBlackBg();
        }
        .sub-title {
          @include titleWhiteBg();
        }
        .beforeLine {
          @include hr(530px, $colorBlue);
          position: absolute;
          margin-left: 51rem;
          margin-top: -10px;
          z-index: 200;
        }
        .beforeBgimg {
          height: 100%;
          .folderImg {
            position: absolute;
            // top:1rem;
            left: 50%;
            transform: translateX(-50%);
            width: 90%;
            margin: 40px auto;
          }
          .oddAppImg {
            position: absolute;
            // top:10rem;
            left: 50%;
            width: 80%;
            transform: translateX(-50%);
            margin: 8rem auto;
          }
        }
      }
      .ux-research {
        margin-top: 5rem;
        width:100%;
        .persona {
          .sm-title {
            @include sm-title();
          }
          .perTitle1 {
            @include titleGrayBg();
          }
          .perTitle2 {
            @include titleWhiteBg();
          }
          .perLine {
            @include hr(700px, $colorWhite);
            position: absolute;
            margin-left: 41rem;
            margin-top: -10px;
            z-index: 200;
          }
          .uxtxt {
            margin-left: 18rem;
            margin-top: 1.8rem;
            line-height: 2rem;
            color: $colorWhite;
            letter-spacing: 1px;
          }
          .uxImg {
            display: flex;
            flex-direction: column;
            align-items: center;
            .uxImgOne {
              width:90%;
            }
            .uxImgTwo {
              width: 86%;
            }
          }
        }
        .journey-map {
          margin-top: 3rem;
          .sm-title {
            @include sm-title();
          }
          .jourTitle1 {
            @include titleGrayBg();
          }
          .jourTitle2 {
            @include titleWhiteBg();
          }
          .jourLine {
            @include hr(100px, $colorWhite);
            position: absolute;
            margin-left: 48rem;
            margin-top: -10px;
            z-index: 200;
          }
          .jourtxtOne {
            display: flex;
            flex-wrap: wrap;
            margin-top: 80px;
            margin-left: 18rem;
            color: $colorWhite;
            letter-spacing: 1px;
            ul {
              display: inline;
              text-decoration: none;

              li {
                display: inline;
              }
            }
          }
          .jourtxtTwo {
            display: flex;
            flex-wrap: wrap;
            margin-top: 80px;
            margin-left: 18rem;
            color: $colorWhite;
            letter-spacing: 1px;
            ul {
              display: inline;
              text-decoration: none;

              li {
                display: inline;
              }
            }
          }
        }
      }
    }
  }
}
@media (max-width: 768px) {
  .container {
  }
}
